.progressDots {
  --dot-size: 8px;
  --dot-color: var(--color-gray-900);
  --gap: calc(var(--dot-size) * 0.75);
  --gap: round(up, calc(var(--dot-size) * 0.75), 2px);
  --small-dot: calc(var(--dot-size) * 0.75);
  --small-dot: round(down, calc(var(--dot-size) * 0.75), 2px);
  --transition-duration: 250ms;
  --easing: var(--ease-in-out-cubic);

  display: flex;
  overflow: clip;
  width: calc(var(--dot-size) * 5 + var(--gap) * 6);
}

.track {
  display: flex;
  gap: var(--gap);
  padding-inline: var(--gap);
  transform: translateX(calc(var(--p) * (var(--dot-size) + var(--gap)) * -1));
  transition: transform var(--transition-duration) var(--easing);
  min-width: calc(var(--dot-size) * 5 + var(--gap) * 6);
}

.track.center {
  justify-content: center;
}

.dot {
  flex: 0 0 var(--dot-size);
  width: var(--dot-size);
  height: var(--dot-size);
  border-radius: 50%;
  background-color: hsl(from var(--dot-color) h s l / 0.3);
  transition-property: background-color, transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--easing);
}

.activeDot {
  background-color: var(--color-gray-900);
}
.offscreenDot {
  background-color: transparent;
}
.edgeDot {
  transform: scale(calc(var(--small-dot) / var(--dot-size)));
  opacity: 0.7;
}
